.introToMe {
  &ProfilePicture {
    height: min-content;
    display: flex;
    justify-content: center;
    img {
      margin-top: 5rem;
      border-radius: 50%;
      max-width: 20%;
      height: 230px;
    }
  }
}