html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto;
  font-size: 1.1rem;
}

.parallax {
  background: linear-gradient(0deg, rgb(96, 176, 176) -50%, #263238 100%);
  width: 100%;  
  background-position: center;
  background-size: cover;
}

.tech-stack-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem ;
}

.tech-stack-images img {
  margin-top: 0.5rem;
}