.introToMe {
  &ProfilePicture {
    height: min-content;
    display: flex;
    justify-content: center;
    img {
      margin-top: 10rem;
      border-radius: 60%;
      width: 300px;
      height: 280px;
      box-shadow: 0px 2px 17px -3px;
    }
  }
}