.navbar {
  background-color: #7d95a2;
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  ul {
    margin: 0;
    display: flex;
    list-style-type: none;
    li {
      padding: 0.25rem;
      border-radius: 0.25rem;
      button {
        color: white;
        font-weight: bold;
        border: none;
      }

      button:hover {
        cursor: pointer;
      }
    }
  }
}