.textRenderer {
  display: flex;
  background-color: transparent;
  color: white;
  min-height: 100px;
  height: auto;
  justify-content: center;
  
  p {
    max-width: 800px;
    text-align: center;
    margin: 2rem;
  }
}