.tutorialsCard {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  width: 30vw;
  border: 2px solid #7eb09b;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem 0;

  &Top {
    display: flex;


    &Ic {
      flex: 1;
      width: 200px;
    }

    &Title {
      margin: 0 0 0 17px;
      flex: 2;
    }
  }

  @media (max-width: 400px) {
    &Top {
      flex-wrap: wrap;
      &Title {
        margin: 17px 0 0 0;
        flex: 2;
      }
    }
  }
}

@media (max-width: 400px) {
  .tutorialsCard {
    min-width: 250px;
  }
}

.tutorialsCard:hover {
  box-shadow: -1px 1px 45px #7eb09b; 
  animation: shadeIn 0.25s; 
  cursor: pointer;
}

@keyframes shadeIn {
  0% { box-shadow: none  }
  100% { box-shadow: -1px 1px 45px #7eb09b;  }
}