.tutorialDetails {
  margin-top: 6vh;

  &Title {
    padding-top: 6vh;
    justify-content: center;
    color: white;
    display: flex;

    h2 {
      max-width: 800px;
    }
  }

  &Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &Lines {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 70%;
      max-width: 800px;
      h3, p {
        text-align: justify;
        color: white;
      }
    }
  }
}