.tutorials {
  margin-top: 4.2rem;

  h2 {
    padding: 2rem 0 0 0;
    text-align: center;
    color: white;
  }

  &Content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
  }

}

@media (min-width: 401px) {
  .tutorials {
    height: 100vh;
  }
}